# R FILES
.Rproj.user
.Rhistory
.RData
inst/doc

# TEMPORARY FILES
*~
*.backup
**/#*#
**/.#*

# DATA FILES
rsconnect
data
!data/data.cube.example.R
!data/guardian.2016.csv
!data/guardian.small.csv
!data/opinion.traces.csv
!data/twitter.eu.csv
!data/twitter.fr.csv
!data/geomedia.csv

