# R FILES
.Rproj.user
.Rhistory
.RData
.Rd2pdf*
inst/doc
\*R\*

# TEMPORARY FILES
*~
*.backup*
**/*#
**/.#*
*.tar.gz

# DATA FILES
rsconnect
data/*
!data/data.cube.example.csv
!data/guardian.2016.csv
!data/guardian.small.csv
!data/opinion.traces.csv
!data/twitter.eu.csv
!data/twitter.fr.csv
!data/geomedia.csv

outlier-explorer.api/guardian*
